@font-face{

    font-family: 'fontello';
    src: url('res/fontello/font/fontello.woff2');
    font-weight: normal;
    font-style: normal;
}
.theme-light{

    --bg-color: #fff;
    --fg-color: #000;
    --accent-color: #f0f0f0;
    --dark-accent-color: #171717;
}
.theme-solarized{

    /* Solarized is by Ethan Schoonover 
       https://ethanschoonover.com/solarized */
    --bg-color: #fdf6e3;
    --fg-color: #002b36;
    --accent-color: #eee8d5;
    --dark-accent-color: #073642;
}
.theme-dark{

    /* Dracula is by Zeno Rocha
       https://draculatheme.com/ */
    --bg-color: #282a36;
    --fg-color: #f8f8f2;
    --accent-color: #44475a;
    --dark-accent-color: #6272a4;
}
body{

    z-index: 0;
    background: var(--bg-color);
    margin: 0;
    min-height: 100vh;
}
.center-all{

    width: auto;
    margin: 0 auto;
    display: inline-block;
}
.content{

    width: auto;
    min-height: 100vh; 
    overflow: hidden;
    text-align: center;
    position: relative;
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}
.header{

    background: var(--bg-color);
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
    position: fixed;
    height: 52px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    text-align: left;
    overflow: hidden;
    z-index: 2;
}
.header-section{

    position: relative;
    display: inline-block;
    line-height: 22px;
}
.header-section.first{

    left: 20px;
}
.header-section.last{

    right: 20px;
    float: right;
}
.title{

    font-family: Merriweather, serif;
    font-weight: 300;
    font-size: 22px;
}
.theme-icon{

    font-family: fontello;
    font-weight: 300;
    font-size: 26px;
    margin: 13px 0px;
    cursor: pointer;
}
.title,
.theme-icon{

    color: var(--fg-color);
}
.post.first{

    margin-top: 62px;
}
.post{

    display: inline-block;
    background: var(--bg-color);
    width: 100%;
    margin-top: 2px;
    text-align: left;
}
.post-title,
.post-author,
.post-content,
.post-info{

    color: var(--fg-color);
}
.post-title{

    font-family: Merriweather, serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.post-author{

    font-family: Merriweather Sans, sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.post-content{

    font-family: Merriweather Sans, sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.7;
    max-height: 200px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}
.post-info{

    margin: 0;
    width: 100%;
    display: inline-block;
    padding: 7px 0px;
    border-top: 1px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}
.post-heart-container{

    position: relative;
    float: left;
    left: 15px;
    font-size: 20px;
    vertical-align: middle;
}
.post-heart{

    font-family: fontello;
    font-size: 25px;
    vertical-align: middle;
    color: var(--fg-color);
    cursor: pointer;
    user-select: none;
}
.post-tags{

    font-family: Merriweather Sans, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    position: relative;
    float: right;
    right: 15px;
}
.post-follow{

    font-family: Merriweather Sans, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    margin-left: 25px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 2px solid var(--dark-accent-color);
    border-radius: 12px;
}
.new-post{

    text-align: center;
}
.new-post-button{

    padding: 12px 0px;
    width: 200px;
    margin: 10px auto;
    background-color: var(--dark-accent-color);
    color: var(--bg-color);
    font-size: 25px;
    cursor: pointer;
}
.new-post-button .post-heart{

    color: var(--bg-color);
    font-size: 30px;
    letter-spacing: 7px;
}
.navbar{

    background: var(--bg-color);
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0px;
    width: 100%;
    height: 60px;
    border-top: 1px solid var(--accent-color);
    text-align: left;
    z-index: 3;
    transition-duration: 0.5s;
}
.navbar-button{

    background: var(--bg-color);
    color: var(--fg-color);
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
.navbar-button.current{

    background: var(--dark-accent-color);
    color: var(--bg-color);
}
.navbar-button-icon{

    font-family: fontello;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#navbar-padding{

    height: 55px;
    width: 100%;
    display: block;
}
.sidebar{

    width: 0;
    height: 100vh;
    background: var(--bg-color);
    text-align: center;
    overflow: hidden;
    position: fixed;
    display: block;
    padding: 0;
}
.sidebar-button-icon{

    font-family: fontello;
    cursor: pointer;
}
.sidebar-button-text{

    font-family: Merriweather, serif;
}
.sidebar-button-icon,
.sidebar-button-text{

    font-weight: 300;
    font-size: 30px;
    margin: 0;
    padding: 11px 21px;
    display: block;
    position: relative;
    color: var(--fg-color);
}
.sidebar-button-icon.current{

    background-color: var(--dark-accent-color);
    color: var(--bg-color);
}
.sidebar-button-title{

    display: none;
    font-family: Merriweather, serif;
}
.draft-form{

    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.draft-form input[type="text"]{

    font-size: 15px;
    font-family: Merriweather Sans, sans-serif;
    background: var(--bg-color);
    color: var(--fg-color);
    width: 100%;
    padding: 15px;
    border: 1px solid var(--dark-accent-color);
    margin-top: 10px;
    box-sizing: border-box;
}
.draft-form textarea{

    font-size: 15px;
    font-family: Merriweather Sans, sans-serif;
    background: var(--bg-color);
    color: var(--fg-color);
    width: 100%;
    padding: 15px;
    border: 1px solid var(--dark-accent-color);
    margin-top: 25px;
    box-sizing: border-box;
    overflow: hidden;
}
.draft-form input[type="submit"]{

    font-size: 15px;
    font-family: Merriweather, serif;
    padding: 15px;
    margin-top: 25px;
    margin-left: 15px;
    float: right;
    color: var(--bg-color);
    background-color: var(--dark-accent-color);
    border: 2px solid var(--dark-accent-color);
    cursor: pointer;
}
.draft-form input[type="submit"].light{

    color: var(--fg-color);
    background-color: var(--bg-color);
    border: 2px solid var(--fg-color);
}
.page{

    display: inline-block;
    background: var(--bg-color);
    width: 100%;
    text-align: left;
}
.page-title{

    font-family: Merriweather, serif;
    color: var(--fg-color);
    font-weight: 300;
    font-size: 26px;
    margin-top: 62px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
}
.page-author{

    font-family: Merriweather Sans, sans-serif;
    color: var(--fg-color);
    font-weight: 300;
}
.page-author{

    font-size: 16px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}
.page-info{

    margin: 0;
    width: 100%;
    display: inline-block;
    padding: 7px 0px;
}
#page-reader{

    font-family: Merriweather Sans, sans-serif;
    color: var(--fg-color);
    font-weight: 300;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 13px;
    margin-right: 13px;
    padding: 2px;
    border: 2px solid var(--dark-accent-color);
    box-shadow: 1px 2px var(--dark-accent-color);
    line-height: 1.7;
    height: 40vh;
    overflow-y: hidden;
    overflow-x: hidden;
    transition-duration: 0s;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#page-reader::-webkit-scrollbar{

    display: none;
}
#page-reader-scrollbar{

    background-color: var(--dark-accent-color);
    display: block;
    position: fixed;
    top: 0;
    height: 0px;
    z-index: 2;
}
#page-reader-scroll-assurance{

    width: 100%;
    height: 0;
}
@media screen and (min-width: 768px){

    .header,
    .content{

        width: 600px;
        left: 50%;
        transform: translateX(-264px);
    }
    .navbar{

        height: 0;
    }
    #navbar-padding{

        height: 0;
    }
    .sidebar{

        width: auto;
        left: 50%;
        transform: translateX(-334px);
    }
}
@media screen and (min-width: 1024px){

    .header,
    .content{

        transform: translateX(-174px);
    }
    .sidebar{

        transform: translateX(-420px);
        text-align: left;
    }
    .sidebar-button-text,
    .sidebar-button-icon{

        padding: 11px 42px;
    }
    .sidebar-button-title{

        display: inline-block;
    }
}
